h1 {
  color: black;
  text-align: center;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}
.important {
  color: red;
}
.reasons {
  background-color: aqua;
}
.unimportant {
  color: gray;
}
ul {
  line-height: 40px;
}
